<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
	<string>fetch</string>
	<string>remote-notification</string>
	</array>
	<key>API_KEY</key>
	<string>AIzaSyBNuc5S0dnrmILkB7rzNWhCTkwE2iLm3f8</string>
	<key>GCM_SENDER_ID</key>
	<string>272611327021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginPage</string>
	<key>PROJECT_ID</key>
	<string>user-login-page-bc202</string>
	<key>STORAGE_BUCKET</key>
	<string>user-login-page-bc202.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:272611327021:ios:5e49bcc3313f2add668ca4</string>
</dict>
</plist>
